:root {
  background-color: gray;
  box-sizing: border-box;
  width: 100%;
}

.App {
  text-align: center;
  background-color: gray;
  box-sizing: border-box;
  width: 100vw;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
}

.user-card {
  background-color: gray;
  height: 39vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 2%;
  margin-bottom: 1%;
  justify-content: center;
}

.avatar {
  width: 15%;
  background-color: white;
  padding: 1%;
  box-shadow: 0.5px 2px 7px #282c34;
}

.details {
  text-align: left;
  margin-left: 1%;
  background-color: #09d3ac;
  padding: 1%;
  box-shadow: 0.5px 2px 7px #282c34;
  width: 30%;
  padding-top: 0;
}

h4 {
  font-style: italic;
  color: black;
}

.follower-card {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 45%;
}

.follower-avatar {
  width: 20%;
  height: 100px;
  background-color: white;
  padding: 1%;
  box-shadow: 0.5px 2px 7px #282c34;
  margin-bottom: 0;
  height: 130px;
}

.follower-details {
  text-align: left;
  margin-left: 1%;
  height: 100px;
  height: 130px;
  background-color: #09d3ac;
  padding: 1%;
  width: 400px;
  box-shadow: 0.5px 2px 7px #282c34;
}

.f-cards {
  display: flex;
  flex-direction: row;
  width: 1185px;
  padding: 6%;
  margin-left: 0;
  margin: 0;
  background-color: white;
  margin-top: 1%;
  box-shadow: 0.5px 2px 7px #282c34;
  flex-flow: wrap;
  justify-content: center;
  height: 100%;
}

input {
  width: 50%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #09d3ac;
  box-shadow: 0.5px 2px 7px #282c34;
}

button {
  width: 20%;
  height: 35px;
  border-radius: 10px;
  border: 2px solid #09d3ac;
  box-shadow: 0.5px 2px 7px #282c34;
  background-color: #09d3ac;
  margin-left: 1%;
  font-weight: 900;
  font-size: 12pt;
  cursor: pointer;
}